

<%- include("partials/header"); -%>

    <h1>Home</h1>
    <p> <%= homeStartingContent %></p>
        
    <% blog.forEach(function(post){ %>
        <h2><%=post.newPostTitle%></h2>
        <p><%=post.newBlogPost%></p>
    <% }); %>
        
   



<%- include("partials/footer"); -%>